@import "normalize";
@import "scrollbar";

:root {
  background: $COLOR_BG_MAIN;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.user-first-name, .user-last-name {
  font-family: $FONT_MAIN;
  font-weight: 700;
  color: $COLOR_FONT_MAIN;
  cursor: pointer;
  transition: .2s ease;
  padding: 10px 0;
  @media #{$MOUSE_DEVICE} {
    &:hover {
      color: lighten($COLOR_FONT_MAIN, 15%);
    }
  }
}