$COLOR_BG_MAIN: #33383d;
$COLOR_FONT_MAIN: #4c637e;
$COLOR_FONT_MAIN_LIGHT: #86b1e5;
$COLOR_MAIN_LIGHT: #ffffff;
$COLOR_FONT_ERROR: rgb(255, 102, 102);
$COLOR_FIELD_VALID: rgba(90, 208, 90, 1);

$FONT_MAIN: 'Roboto', sans-serif;

$MOUSE_DEVICE: '(pointer: fine) and (hover: hover)';
$BREAKPOINT: 'all and (max-width: 768px)';